@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
}

nav {
    width: 1120px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.number {
    font-style: normal;
    font-weight: 700;
    font-style: 32px;
    text-align: center;
    color: #041A3F;
}

header {
    width: 1120px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header-info {
    width: 600px;
    margin-top: 156px;
}

.header-info {
    font-size: 20px;
    color: #041A3F;
}

span {
    font-weight: 700;
    font-size: 52px;
    color: #FFCA33;
}

.header-image {
    position: absolute;
    top: 0;
    width: 600px;
    right: -150px;
}

.btn {
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #FFCA33;
    border-radius: 4px;
    border: none;
    padding: 10px;
    margin-top: 48px;
}

.h2 {
    font-weight: 400;
    font-size: 35px;
    margin-top: 150px;
    text-align: center;
    color: #041A3F;
    margin-bottom: 70px;
}

section {
    width: 1200px;
    margin: auto;
}
.buy{
    background: #FAFAFA;
    box-shadow: 1px 8px 24px rgba(0, 0, 0, 0.315);
    border-radius: 20px;
}

.image {
    width: 100%;
}

.bottom-text {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #041A3F;
}

.razmer {
    margin: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: rgba(4, 26, 63, 0.6);
}

.sena {
    margin: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #041A3F;
}

.button {
    margin: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    background: #FFCA33;
    border-radius: 4px;
    border: none;
    padding: 5px;
}

.h6 {
    margin: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: rgba(4, 26, 63, 0.6);
}
.main-box{
    
    margin-top: 20px;
    align-items: center;
    width: 250px;
}
.main {
    width: 1200px;
    display: flex;
    gap: 20px;
    
}

footer {
    width: 1120px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}